.carouseldisplay {
  padding-top: 80px;
  position: relative;
  float: center;
  width: 100%;
  position: center;
}

.footer {
  float: center;
}

.carousel-item > img {
  width: 50%;
}

.carousel-item.active {
  display: flex;
  justify-content: center;
}
